@using BlazorComponents.WASM.Data.Models;
@using BlazorComponents.WASM.Data.Services;
@inject ExerciseService _exerciseService;
@inject IJSRuntime JSRuntime

<input @bind="@_search" type="text" @oninput="SearchChanged" />
<h6>@_numMatches results for @_search</h6>

<ul>
    @foreach (var ex in _filtered)
    {
        <li>
            @ex.Key.Name @ex.Value.Item1 - @ex.Value.Item2
            @for(var i=0; i<ex.Key.Name.Length; i++)
            {
                if(i >= ex.Value.Item1 && i < ex.Value.Item2)
                {
                    <b>@ex.Key.Name[i]</b>
                }
                else
                {
                    @ex.Key.Name[i]
                }
            }
            @ex.Key.MuscleGroups.Count
        </li>
    }
</ul>


@code {
    private List<Exercise> _allExercises => _exerciseService.Exercises;
    private static Dictionary<Exercise, (int, int)> EMPTY_SEARCH_TABLE = new Dictionary<Exercise, (int, int)>();
    private Dictionary<Exercise, (int, int)> _filtered = EMPTY_SEARCH_TABLE;
    private string _search = string.Empty;
    private int _numMatches = 0;

    protected override async Task OnInitializedAsync()
    {
        await _exerciseService.Load();
    }

    private void SearchChanged(ChangeEventArgs args)
    {
        _search = args!.Value!.ToString()!;

        if (string.IsNullOrEmpty(_search))
        {
            _filtered = EMPTY_SEARCH_TABLE;
            _numMatches = 0;
            StateHasChanged();
            return;
        }

        var filteredEnumerable = _allExercises
                .Where(e => e.Name.Contains(_search));

        _numMatches = filteredEnumerable.Count();

        var filteredBegins = filteredEnumerable.Where(e => e.Name.StartsWith(_search)).OrderBy(e => e.Name);
        var filteredNotBegins = filteredEnumerable.Where(e => !e.Name.StartsWith(_search)).OrderBy(e => e.Name);
        var filteredOrdered = filteredBegins.Concat(filteredNotBegins).Take(10);

        filteredOrdered.ToDictionary(e => e.Name, e => (e.Name.IndexOf(_search), e.Name.IndexOf(_search) + _search.Length));

        StateHasChanged();
    }
}
